<div class="mt-4" [formGroup]="checkoutForm">
  <div class="row">
    <div class="form-group col-12" formGroupName="paymentForm">
      <app-text-input
        [label]="'Name on card'"
        formControlName="nameOnCard"
      ></app-text-input>
    </div>
    <div class="form-group col-6">
      <div #cardNumber class="form-control py-3"></div>
    </div>
    <div class="form-group col-3">
      <div #cardExpiry class="form-control py-3"></div>
    </div>
    <div class="form-group col-3">
      <div #cardCvc class="form-control py-3"></div>
    </div>
    <ng-container *ngIf="cardErrors">
      <div class="ml-4 mb-4">
        <i class="fa fa-exclamation-circle text-danger"></i>&nbsp;<span
          class="text-danger"
          >{{ cardErrors }}</span
        >
      </div>
    </ng-container>
  </div>
</div>

<div
  class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5"
>
  <button class="btn btn-outline-primary" cdkStepperPrevious>
    <i class="fa fa-arrow-left"></i>&nbsp;Back to Review
  </button>
  <button
    [disabled]="loading"
    class="btn btn-outline-primary"
    (click)="submitOrder()"
  >
    Submit order&nbsp;<i class="fa fa-arrow-right"></i>&nbsp;
    <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
  </button>
</div>
